@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    background-color: hsl(var(--b2)); /* base-200 */
}

#__next {
    height: 100%;
}

.min-h-hero {
    min-height: calc(100vh - 240px);
}

.triangle-down {
    width: 0; 
    height: 0; 
    border-left: calc(100vw / 2) solid transparent;
    border-right: calc(100vw / 2 - 15px) solid transparent; 
    border-top-width: 6vw;   
} 

.triangle-up {
    width: 0; 
    height: 0; 
    border-left: calc(100vw / 2) solid transparent;
    border-right: calc(100vw / 2 - 15px) solid transparent; 
    border-bottom-width: 3vw;   
} 

/* work around for the side drawer mobile scrolling issue */
.drawer {
    @apply h-full;
}

.collapse-plus .collapse-title::after {
    @apply top-0;
    @apply right-0;
}

.collapse:focus {
    @apply outline-none
}

.markdown-content  *:not(.link):not(.remark-highlight *) {
    all: revert;
    white-space: normal;
}

.remark-highlight code {
    white-space: pre-wrap !important;
}
